.container {
  max-width: 1140px;
  margin: 20px 130px;
}
.product-card {
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

  @media (max-width: 1140px) {
    margin: 20px 24px;
  }

  @media (max-width: 768px) {
    position: relative;
    justify-content: space-between;
  }

  &__image {
    margin: 22px 40px 23px 20px;
    object-fit: cover;
    object-position: center;

    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 67px;
      margin: 15px 0 0 15px;
    }
  }

  &__info {
    flex-grow: 1;

    @media (max-width: 768px) {
      flex-grow: 0;
    }
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    @media (max-width: 768px) {
      flex-direction: column;
      flex-grow: 0;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
    }
  }

  &__name {
    @media (max-width: 768px) {
      margin: 15px auto 11px 97px;
    }
  }

  &__amount--hidden {
    opacity: 0;

    @media (max-width: 768px) {
      opacity: 1;
      width: max-content;
      padding: 4px 10px 3px;
      border: 1px solid #e6e6e6;
      border-radius: 7px;
      margin-left: 97px;
    }
  }

  &__group {
    display: flex;

    @media (max-width: 768px) {
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;
    }
  }

  &__price {
    @media (max-width: 768px) {
      margin-left: 10px;
    }
  }

  &__secondary-info {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 12px;
    line-height: 14px;

    @media (max-width: 768px) {
      flex-direction: column;
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__description {
    display: flex;
    padding-right: 15px;

    @media (max-width: 768px) {
      padding-right: 0;
      margin-bottom: 11px;
    }
  }

  &__parameter {
    margin-right: 10px;

    @media (max-width: 768px) {
      margin-right: 4px;
      margin-left: 15px;
    }
  }

  &__value {
    color: #9e9e9e;
  }

  &__color {
    margin-right: 4px;
    display: flex;
    align-items: center;
  }

  &__color-value {
    margin-right: 10px;
  }

  &__color-icon {
    width: 14px;
    height: 14px;
    background-color: #353e4d;

    @media (max-width: 768px) {
      width: 11px;
      height: 11px;
    }
  }

  @media (max-width: 768px) {
    &__amount {
      display: none;
    }
  }

  &__size-value {
    margin: 0 5px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin: 0 3px;
    }
  }

  &__fa-xmark {
    font-size: 8px;
    margin-top: 3px;
    color: #9e9e9e;

    @media (max-width: 1140px) {
      font-size: 7px;
    }
    @media (max-width: 768px) {
      font-size: 7px;
    }
  }

  &__close-button {
    cursor: pointer;
    padding: 52px 24px;
    background: #f9f9f9;
    border: none;
    color: #c9c9c9;

    transition: all 0.3s;

    &:hover {
      background: #f0f0f0;
    }

    @media (max-width: 1140px) {
      padding: 52px 11px;
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      background: none;
      margin: 18px 10px auto 0;
    }
  }

  &__fa-x {
    font-size: 8px;
  }
}
